.example-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0 10px;
}

.example-group-title {
  margin-left: 15px;
  width: 100%;
  height: 50px;
  color: darkblue;
}

.example-group-title span {
  color: red;
  font-size: medium;
}

.example-container {
  margin: 5px;
  padding: 10px;
  border: 1px solid red;
}

.hook-image-group {
  display: flex;
}

.title-context-center {
  text-align: center;
}
