.footer-box {
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #039be5;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 2;
}