@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

$primary: #fdcb6e;
$secondary: #2d3436;

.useRef-container {
  font-family: 'Roboto Slab';
  width: 500px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary;
  background-color: $secondary;
}

.useRef-wrapper {
  width: 440px;

}

.useRef-inputGroup {
  margin: 0 10px 20px 10px;
  text-align: left;
}

.useRef-input {
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border: 1px solid $primary;
  color: $primary;
  padding: 15px 15px;
  font-size: 30px;
  width: 90%;

  &:focus {
    outline: none;
  }
}

.useRef-btn {
  display: inline-block;
  cursor: pointer;
  padding: 15px 15px;
  margin: 0 10px;
  text-align: center;
  color: $primary;
  border: 1px solid $primary;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);

  &:focus {
    outline: none;
  }
}

.useRef-span {
  color: $primary;
  opacity: 0.5;
  display: inline-block;
  margin-right: 10px;
}

.useRef-doubleNumber {
  margin-bottom: 15px;
}

.useRef-main {
  text-align: center;
}

.useRef-title {
  padding: 40px;
}

.useRef-border {
  border: 1px solid white;
  margin: 10px;
  text-align: center;
  padding: 10px;
  width: 400px;
}

.useRef-values {
  padding: 10px;
}