@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

$primary: #fdcb6e;
$secondary: #2d3436;

.useRef-container {
  font-family: 'Roboto Slab';
  margin-top: 25px;
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary;
  background-color: $secondary;
}

.useRef-inputBox {
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border: 1px solid $primary;
  color: $primary;
  padding: 15px 15px;
  font-size: 30px;
  width: 90%;

  &:focus {
    outline: none;
  }
}

.useRef-btn {
  width: 40%;
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  padding: 15px 15px;
  text-align: center;
  color: $primary;
  border: 1px solid $primary;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);

  &:focus {
    outline: none;
  }
}

.useRef-text {
  color: $primary;
  opacity: 0.8;
}

.useRef-border {
  border: 1px solid white;
  margin: 15px auto;
  text-align: center;
  padding: 10px;
}