.navbar-container {
  margin: 0;
  padding: 0;
  width: auto;
  height: 60px;
  font-size: 1.1rem;
  background-color: aliceblue;
}

.navbar-main {
}

.navbar-list {
  float: right;
  display: flex;
  list-style: none;
}

.navbar-item {
  margin: 0 5px;
  padding: 0 12px;
}

.navbar-link {
  text-decoration: none;
  cursor: pointer;
}
