.ex3-father-container {
  border: 1px solid blue;
}

.ex3-father-container p {
  padding: 0 20px;
}

.ex3-json-report-main {
  margin: 0 15px;
  padding: 5px;
}

.ex3-json-report-list p {
  margin: 0 15px;
  padding: 4px;
}

.ex3-child-container {
  margin: 5px 15px;
  border: 1px solid red;
  width: 30%;
}

.ex3-input-box {
  margin: 5px 15px;
}
